@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0f;
  --foreground: #ffffff;
  --card: #13131a;
  --card-hover: #1a1a24;
  --border: #1e1e2e;
  --text-secondary: #8b8b9e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
